.section.contact {
    height: calc(100vh - 120px);
    background-color: black;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}
.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact form label{
    width: 300px;
    text-align: left;
}
.contact form input, textarea, #formSubmitBtn{
    border: none;
    height: 40px;
    outline: none;
    padding: 10px;
    width: 300px;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid #221eff;
}
 form textarea {
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    max-width: 300px;
    min-width: 300px; 
    resize: none;
}
 #formSubmitBtn {
    background: linear-gradient(135deg, #4B0082, #221eff); /* Black to Purple to Blue */
    cursor: pointer;
    height: 40px;
    padding: 5px;
    transition: 0.2s linear all;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
}
 #formSubmitBtn:hover {
    background-color: #1010D9; 
    /* #3333f0 */
    border: none;
    color: white;
}
 #formSubmitBtn i{
    position: relative;
    transition: 0.2s linear all;
}
 #formSubmitBtn:hover i {
    transform: translateX(10px);
}


@media only screen and (min-width: 600px){
.section.contact {
height: calc(100vh - 80px);
}
}


